<!DOCTYPE html>
<html>
<head>
  <title></title>
<%- include("../partials/header")%>

</head>
<body>
"Welcome to ConnectU"

<div class="container">
  <h3>Hey <%= user.name%></h3>
  <%= id %>
</div>

<a href="/logout" class="btn btn-secondary">Logout</a>
</body>
</html>