<!DOCTYPE html>
<html>
<head>
  <title></title>
<%- include("../partials/header")%>
<!-- <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
 --><!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
-->
<script src="../socket.io/socket.io.js"></script>

 </head>
<body>
"Welcome to ConnectU"

<div class="container">
  <h3>Hey</h3><h3 id="userEmail"> <%- user %></h3>
</div>

<div id="message-container">
  <!-- <p  class="container" id="output">output</p> -->
  <!-- <div class="container"> -->
  <div class="container">
 <%# for(var chat of chatsArr) { %> 
    <%#= chat.chatBody %>
 <%# } %>
</div>
  <div class="row" id="chatContainer">
    <% chatStorage.forEach(function(chat){ %>
      <p class="chatMessage col-sm-12 col-md-12 col-lg-12 container"><%= chat.chatBody %></p>
      <br>
    <% }) %>  
      <hr>
  </div>
  <form class="container" method="post" action="/user/:id" id="send-container">
  <div class="form-group">
    <label for="chatMessage">Message</label>
    <input type="text" class="form-control" id="message" name="chatBody" placeholder="Enter message...">
  </div>
  <div>
    <button type="submit" id="button" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">blah</div>
    <div class="col-sm-12">bah</div>
    <div class="col-sm-12">bh</div>
  </div>
</div>

<a href="/logout" class="btn btn-secondary">Logout</a>
<script src="../js/socket.io.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>
</html>