<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <%- include("partials/header")%>
</head>
<body>

<h1 id="pageTitle">Welcome to ConnectU</h1>
<div class="landingVideo">Landingvideo</div>

</body>
</html>