#pageTitle{
  color: purple;
  margin-left: 650px;
  margin-top: 80px;
  font-size: 50px;
}

#signup{
  margin-top: 100px;
}

#chatContainer{
  margin-left: 150px;
}

.chatMessage{
  margin-left: 50px;
}

#message-container{
  margin-top: 75px;
  margin-left: -40px;
}